APPLICATION_NAME=the-application-name
TOOLS_PROJECT=the-target-tools-project
TOOLS_TEMPLATE=the-template-file-to-be-applied-at-the-tools-project
TOOLS_TEMPLATE_PARAMETERS_FILE=the-inputs-passed-in-to-the-tools-template-file
DEV_PROJECT=the-development-environment-project
DEV_TEMPLATE=the-template-file-to-be-applied-at-the-development-environment-project
DEV_TEMPLATE_PARAMETERS_FILE=the-inputs-passed-in-to-the-development-environment-template-file
DEV_NGINX_NAME=the-existing-nginx-project-deployment-in-the-dev-project
DEV_NGINX_PROXY=http://the-application-name:4000
DEV_NGINX_USERNAME=the-one-username-everyone-using-this-eguide-will-share
DEV_NGINX_PASSWORD=the-one-password-everyone-using-this-eguide-will-share
TEST_PROJECT=the-test-environment-project
TEST_TEMPLATE=the-template-file-to-be-applied-at-the-test-environment-project
TEST_TEMPLATE_PARAMETERS_FILE=the-inputs-passed-in-to-the-test-environment-template-file
TEST_NGINX_NAME=existing-nginx-project-deployment-in-the-test-project
TEST_NGINX_PROXY=http://the-application-name:4000
TEST_NGINX_USERNAME=the-one-username-everyone-using-this-eguide-will-share
TEST_NGINX_PASSWORD=the-one-password-everyone-using-this-eguide-will-share
PROD_PROJECT=the-production-environment-project
PROD_TEMPLATE=the-template-file-to-be-applied-at-the-production-environment-project
PROD_TEMPLATE_PARAMETERS_FILE=the-inputs-passed-in-to-the-production-environment-template-file
PROD_NGINX_NAME=existing-nginx-project-deployment-in-the-prod-project
PROD_NGINX_PROXY=http://the-application-name:4000
PROD_NGINX_USERNAME=the-one-username-everyone-using-this-eguide-will-share
PROD_NGINX_PASSWORD=the-one-password-everyone-using-this-eguide-will-share