APPLICATION_NAME=the-application-name
TOOLS_PROJECT=the-target-tools-project
TOOLS_TEMPLATE=your-eguide-name-01-build.json
TOOLS_TEMPLATE_PARAMETERS_FILE=your-eguide-name-01.01-build.param
DEV_PROJECT=the-development-environment-project
DEV_TEMPLATE=your-eguide-name-02-deploy.json
DEV_TEMPLATE_PARAMETERS_FILE=your-eguide-name-02.01-deploy.dev.param
DEV_NGINX_ID=the-next-sequentially-available-number-in-the-nginx-project-deployment-in-the-dev-project
DEV_NGINX_NAME=the-existing-nginx-project-deployment-in-the-dev-project
DEV_NGINX_PROXY=http://the-application-name:4000
DEV_NGINX_USERNAME=the-one-username-everyone-using-this-eguide-will-share
DEV_NGINX_PASSWORD=the-one-password-everyone-using-this-eguide-will-share
TEST_PROJECT=the-test-environment-project
TEST_TEMPLATE=your-eguide-name-02-deploy.json
TEST_TEMPLATE_PARAMETERS_FILE=your-eguide-name-02.02-deploy.test.param
TEST_NGINX_ID=the-next-sequentially-available-number-in-the-nginx-project-deployment-in-the-test-project
TEST_NGINX_NAME=existing-nginx-project-deployment-in-the-test-project
TEST_NGINX_PROXY=http://the-application-name:4000
TEST_NGINX_USERNAME=the-one-username-everyone-using-this-eguide-will-share
TEST_NGINX_PASSWORD=the-one-password-everyone-using-this-eguide-will-share
PROD_PROJECT=the-production-environment-project
PROD_TEMPLATE=your-eguide-name-02-deploy.json
PROD_TEMPLATE_PARAMETERS_FILE=your-eguide-name-02.03-deploy.prod.param
PROD_NGINX_ID=the-next-sequentially-available-number-in-the-nginx-project-deployment-in-the-test-project
PROD_NGINX_NAME=existing-nginx-project-deployment-in-the-prod-project
PROD_NGINX_PROXY=http://the-application-name:4000
PROD_NGINX_USERNAME=the-one-username-everyone-using-this-eguide-will-share
PROD_NGINX_PASSWORD=the-one-password-everyone-using-this-eguide-will-share